* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.principal {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.barra-de-navegacion {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo span {
    color: #4dc2e6;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;

}

.nav-links .nav-links-home {
    border: 2px solid #4dc2e6;
    margin: auto;
    padding: 10px;
}

.texto-principal {
    margin: auto;
    text-align: center;
}

.pricipaltexto1,
.pricipaltexto2 {
    margin: 8px;
    background: rgba(0, 0, 0, 0.2);
}

.sectiondos {
    background: #11b9ec;
}

.dosseccion {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-around;
    padding: 100px 350px;
    color: white;
    gap: 30px;
}


.barra-de-navegacion-tres {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.tresseccion {
    margin: 100px;
}

.logo-tres h2 {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    color: #546e7a;
    position: relative;
    padding-bottom: 15px;
    display: inline-block;
}

.logo-tres h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 1px;
    background-color: #000000;
}



.nav-links-tres {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
}

.nav-links-tres li a {
    color: #546e7a;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;

}

.nav-links-tres .nav-links-home-tres {
    border: 2px solid #4dc2e6;
    margin: auto;
    padding: 10px;
}

.imagenes-tres {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 300px 100px 100px 100px;
    gap: 20px;
    margin: 0 240px;
}

.imagenes-tres img {
    filter: grayscale(100%);
}

.seccioncuatro {
    background: #546e7a;
    padding: 100px 350px;

}

.secciondivcuatro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.textocuatro {
    color: white;
}

.textocuatro h2 {
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 30px;
}

.textocuatro h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 1px;
    background-color: #ffffff;
}

.textocuatro p {
    line-height: 1.8;
    margin-bottom: 30px;
}

.textocuatro a {
    color: #253238;
    text-decoration: none;
    border: 2px solid #3a484f;
    padding: 12px 30px;
    display: inline-block;
}

.imagencuatro {
    text-align: right;
}

.imagencuatro img {
    margin: auto;
    max-width: 100%;
    height: 100;
}

.seccioncinco {
    background: #11b9ec;
    padding: 100px 350px;
}

.secciondivcinco {
    display: grid;
    grid-template-rows: auto auto;
    gap: 50px;
    align-items: center;
}


.secciondivcinco .logo-tres:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

.secciondivcinco .logo-tres h2 {
    color: white;
}

.secciondivcinco .logo-tres h2::after {
    background-color: white;
}

.secciondivcinco h2:last-child {
    grid-column: 1 / -1;
    grid-row: 2;
    color: white;
    font-weight: 300;
    font-size: 29px;
    line-height: 1.6;
}

.secciondivcinco span {
    color: white;
    font-weight: 600;
}

.seccionseis {
    background: linear-gradient(rgba(206, 204, 204, 0.127), rgba(206, 204, 204, 0.127)), url('../assets/images/bg_whols.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 350px;
}

.secciondivseis {
    color: white;
}

.secciondivseis .logo-tres h2 {
    color: white;
    margin-bottom: 50px;
}

.secciondivseis .logo-tres h2::after {
    background-color: white;
}

.seis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.seisuno,
.seisdos {
    color: white;
    line-height: 1.8;
}

.seisredes {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.seisredes img {
    padding: 10px;
}



.seccionsiete {
    background: #ffffff;
    padding: 100px 350px;
}

.secciondivsiete {
    display: grid;
    grid-template-rows: auto auto;
    gap: 50px;
    align-items: center;
}


.secciondivsiete .logo-tres:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}


.secciondivsiete h2:last-child {
    grid-column: 1 / -1;
    grid-row: 2;
    color: rgb(128, 126, 126);
    font-weight: 300;
    font-size: 29px;
    line-height: 1.6;
}

.secciondivsiete span {
    color: #11b9ec;
    font-weight: 600;
}

.secciondivsiete h3 {
    font-size: 80px;
    color: rgb(128, 126, 126);

}

.seciconocho {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/bg_contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 350px;
}

.secciondivocho {
    color: white;
}

.secciondivocho .logo-tres h2 {
    color: white;
    margin-bottom: 50px;
}

.secciondivocho .logo-tres h2::after {
    background-color: white;
}

.parteunoocho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 60px;
}

.ochouno {
    color: white;
}

.ochouno form {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.ochouno input {
    width: 100%;
    padding: 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    margin-bottom: 30px;
    font-size: 14px;
}

.ochouno input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.ochodos {
    color: white;
    line-height: 1.8;
}

.partedosocho {
    margin-top: 60px;
}

.partedosocho form {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
    color: white;
}

.partedosocho input[type="message"] {
    width: 100%;
    padding: 120px 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    margin-bottom: 30px;
    font-size: 14px;
    resize: none;
}

.partedosocho input[type="message"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.partedosocho a {
    background: #11b9ec;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
}


footer {
    background: #374048;
    color: #515e69;
    padding: 20px 0;
}

footer .footertodo {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footeruno {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

footer .footeruno h4 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}

footer .footeruno h4:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -10px;
    color: #515e69;
}


footer .footerdos a {
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1280px) and (max-width: 1629px) {

    .dosseccion {
        padding: 100px 0 100px 20px;
    }

    .tresseccion {
        margin: 100px 200px 0 0;
        height: 130vh;
    }

    .seccioncuatro,
    .seccioncinco,
    .seccionseis,
    .seccionsiete,
    .seciconocho {
        padding: 80px 5%;
    }


    .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 300px 300px 100px 100px;
        gap: 20px;
        margin: 0 300px;
    }



}

@media screen and (min-width: 1140px) and (max-width: 1279px) {
    .dosseccion {
        grid-template-columns: repeat(2, 1fr);
    }

    .imagenes-tres {
        grid-template-columns: repeat(3, 1fr);
    }

    .seccioncuatro,
    .seccioncinco,
    .seccionseis,
    .seccionsiete,
    .seciconocho {
        padding: 80px 5%;
    }

    .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 300px 300px 100px 100px;
        gap: 20px;
        margin: 0 200px;
    }

    .dosseccion {
        padding: 100px 150px 100px 150px;
    }

    .tresseccion {
        margin: 100px 150px 0 0;
        height: 130vh;
    }
}

@media screen and (min-width: 1070px) and (max-width: 1139px) {
    .dosseccion {
        grid-template-columns: repeat(2, 1fr);
    }

    .imagenes-tres {
        grid-template-columns: repeat(3, 1fr);
    }

    .seccioncuatro,
    .seccioncinco,
    .seccionseis,
    .seccionsiete,
    .seciconocho {
        padding: 80px 5%;
    }

    .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 300px 300px 100px 100px;
        gap: 20px;
        margin: 0 130px;
    }

    .dosseccion {
        padding: 100px 150px 100px 150px;
    }

    .tresseccion {
        margin: 100px 150px 0 0;
        height: 130vh;
    }

}




@media screen and (min-width: 990px) and (max-width: 1069px) {
    .dosseccion {
        grid-template-columns: repeat(2, 1fr);
    }

    .imagenes-tres {
        grid-template-columns: repeat(3, 1fr);
    }

    .seccioncuatro,
    .seccioncinco,
    .seccionseis,
    .seccionsiete,
    .seciconocho {
        padding: 80px 5%;
    }

    .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 300px 300px 100px 100px;
        gap: 20px;
        margin: 0 50px;
    }

    .dosseccion {
        padding: 100px 150px 100px 150px;
    }

    .tresseccion {
        margin: 100px 150px 0 0;
        height: 130vh;
    }
}





@media screen and (min-width: 921px) and (max-width: 989px) {
    .dosseccion {
        grid-template-columns: repeat(2, 1fr);
    }

    .seccioncuatro,
    .seccioncinco,
    .seccionseis,
    .seccionsiete,
    .seciconocho {
        padding: 80px 5%;
    }

    .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(3, 280px);
        grid-template-rows: 300px 300px 100px 100px;
        gap: 10px;
        margin: 0 30px;
    }

    .dosseccion {
        padding: 100px 150px 100px 150px;
    }

    .tresseccion {
        margin: 100px 150px 0 0;
        height: 130vh;
    }
}




@media screen and (max-width: 920px) {

    .barra-de-navegacion,
    .barra-de-navegacion-tres {
        display: grid;
        flex-direction: block;
        gap: 100px;
    }

    .dosseccion {
        padding: 100px 150px 100px 150px;
    }

    .dosseccion {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-links,
    .nav-links-tres {
        flex-direction: row;
        gap: 15px;
    }

    .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 300px 300px 300px 100px;
        gap: 10px;
        margin: 0 50px;
    }

    .tresseccion {
        height: 170vh;
    }


    .seis,
    .parteunoocho,
    .secciondivcinco,
    .secciondivsiete {
        grid-template-columns: 1fr;
        text-align: center;
    }


    .seccioncuatro {
        background: #546e7a;
        padding: 100px 30px;


    }

    .secciondivcuatro {
        display: block;
        gap: 60px;
        text-align: center;
    }



    .imagencuatro {
        text-align: center;
    }

    .imagencuatro img {
        margin: auto;
        max-width: 100%;
        height: 100;
    }

    .seccioncinco {
        padding: 100px 30px;
    }

    .seccionseis {
        background: linear-gradient(rgba(206, 204, 204, 0.127), rgba(206, 204, 204, 0.127)), url('../assets/images/bg_whols.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 30px;
    }

    .secciondivseis {
        color: white;
    }

    .secciondivseis .logo-tres h2 {
        color: white;
        margin: 0 0 50px 200px;
    }

    .seis {
        grid-template-columns: 1fr 1fr;
    }



    .seccionsiete {
        background: #ffffff;
        padding: 100px 30px;
    }




}

@media screen and (max-width: 768px) {
    .dosseccion {
        grid-template-columns: 1fr;
    }

    .imagenes-tres {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo {
        font-size: 32px;
    }

    .secciondivsiete h3 {
        font-size: 40px;
    }

        .footertodo {
        flex-direction: column;
        text-align: center;
    }

    .footeruno {
        flex-direction: column;
        gap: 10px;
    }

    .footeruno h4::after {
        display: none;
    }
}


@media screen and (max-width:738px) {

    .nav-links,
    .nav-links-tres {
        flex-direction: row;
        gap: 10px;
    }

    .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 300px 300px 300px 100px;
        gap: 10px;
        margin: 0 10px;
    }

    .tresseccion {
        height: 170vh;
    }

}

@media screen and (max-width:718px) {

    .nav-links,
    .nav-links-tres {
        flex-direction: column;
        gap: 40px;
    }

    .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 300px 300px 300px 100px;
        gap: 8px;
        margin: 0 0 0 50px;
    }

    .imagenes-tres img {
        width: 80%;
        margin: 0 0 10px 0;

    }

    .tresseccion {
        height: 200vh;
        margin: 0 10px 0 0;
    }

    .seciconocho {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/bg_contact.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 30px;
    }


    .parteunoocho {
        display: block;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .secciondivseis {
        display: block;
        color: white;
    }

    .seis {
        display: block;
    }

    .seisredes {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 617px) {
       .imagenes-tres {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 300px 300px 300px 100px;
        gap: 8px;
        margin: 0 0 0 25px;
    }

    .imagenes-tres img {
        width: 75%;
        margin: 0 0 100px 0;

    }
    

  
}

@media screen and (max-width: 592px) {
       .imagenes-tres {
        display: block;
        justify-content: center;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 300px 300px 300px 100px;
        gap: 8px;
    }

    .imagenes-tres img {
        width: 40%;
        margin: 0 0 10px 150px;
    

    }

      .tresseccion {
   
        height: 290vh;
        margin: 0 1px 0 0;
    }

  
}

@media screen and (max-width: 480px) {
   

    .dosseccion {
        padding: 50px 20px;
    }

        .tresseccion {
   
        height: 240vh;
        margin: 0 1px 0 0;
    }
      .imagenes-tres img {
        width: 40%;
        margin: 0 0 10px 110px;
    

    }

     .dosseccion {
        padding: 100px 110px 100px 110px;
    }
}



@media screen and (max-width: 390px) {
   

    .dosseccion {
        padding: 50px 20px;
    }

        .tresseccion {
   
        height: 290vh;
    }
      .imagenes-tres img {
        width: 50%;
        margin: 0 0 50px 70px;
    

    }

     .dosseccion {
        padding: 100px 110px 100px 110px;
    }

    .secciondivseis .logo-tres h2 {
        color: white;
        margin: 0 0 50px 80px;
    }

    

    .secciondivseis {
        color: white;
    }

     .seisredes {
        display: block;
        justify-content: center;
    }
  
}



